.card-block{
  padding: 1em 0;
}

.card-blockquote {
  width: 90%;
  margin: auto;
}

.card-blockquote i{
  font-size: 1.8em;
}

#getQuote {
  font-size: 1.8em;
}

#getCite {
  display: block;
}

#generateQuote {
  border-color: #fff;
  position: absolute;
  right: 1em;
  cursor: pointer;
}

.bottom-block {
  font-size: 1.4em;
}

.social-icon {
  display: inline-block;
  padding: 0 0.1em;
}

.btn, .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
